<p id="notice"><%= notice %></p>

<p>
  <strong>.gitignorecoach role:</strong>
  <%= @coach_order..gitignorecoach_role %>
</p>

<%= link_to 'Edit', edit_coach_order_path(@coach_order) %> |
<%= link_to 'Back', coach_orders_path %>
