<p id="notice"><%= notice %></p>

<p>
  <strong>.gitignorecoach role:</strong>
  <%= @seniority..gitignorecoach_role %>
</p>

<%= link_to 'Edit', edit_seniority_path(@seniority) %> |
<%= link_to 'Back', seniorities_path %>
