<p id="notice"><%= notice %></p>

<p>
  <strong>.ideanumber:</strong>
  <%= @sec_list..ideanumber %>
</p>

<%= link_to 'Edit', edit_sec_list_path(@sec_list) %> |
<%= link_to 'Back', sec_lists_path %>
